.home-section {
    .home-block {
        display: flex;
        flex-direction: row;

        margin-bottom: 20%;
        
        .col-1 {
            width: 50%;

            .logo {
                font-family: 'EB Garamond', serif;
                font-size: 1.5rem;
                line-height: 136%;
                position: absolute;
                margin-left: 3%;
                color: #3a353f;
                z-index: 2;
            }

            .top-image {
                width: 30%;
                position: absolute;
                z-index: 2;
                margin-top: 10%;
                margin-left: 10%;
            }

            .buttom-image {
                width: 35%;
                position: absolute;
                z-index: 1;
            }    
        }
    
        .col-2 {
            width: 50%;

            nav {
                .menu {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    list-style-type: none;
                    margin: 5%;
                
                    a {
                        color: #1c325f;
                        text-decoration: none;
                        margin: 10px;
                        font-family: 'EB Garamond', serif;
                        font-size: 1.2rem;

                        &:hover {
                            border-bottom: 2px solid #1c325f;
                        }
                        &:active {
                            border-bottom: 2px solid #1c325f;
                        }
                    }
                }
            }
            
            .headline-text {

                h1 {
                    color: #1c325f;
                    font-family: 'EB Garamond', serif;
                    font-size: 7rem;
                    margin-top: 200px;
                    margin-bottom: 0;
                }
                h2 {
                    color: #1c325f;  
                    font-family: 'EB Garamond', serif;
                    font-size: 3rem;
                    margin: 0;
                } 
            }
        }
    }
}