body {
    margin: 0;
    font-family: 'EB Garamond', serif;
}

.about-heading {
    h1 {
        font-size: 2rem;
        color: #1c325f;
        padding-top: 80px;
        padding-left: 80px; 
        padding-right: 30px;   
    }

    @media screen and (max-width: 900px) {
        //border: 2px solid indigo; 
        h1 {
            font-size: 1.8rem;
            //padding-top: 20px;
            padding-left: 20px; 
            //padding-right: 20px;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 899px) {
        h1 {
            padding-top: 40px;
            padding-left: 60px; 
            //padding-right: 20px;
        }
    }
}

.about-me {
    display: flex;
    flex-direction: row;
    margin-bottom: 8%;

    .textblock {
        flex-direction: column;
        padding-left: 80px;
        padding-right: 80px;

        p {
            font-size: 1.4rem;
        }
    }


    .image-col {
        flex-direction: column;
        padding-left: 40px;
        padding-right: 80px;
        
        img {
            width: 400px;
            height: 400px;
            object-fit: fill;
            
        } 
    }


    @media screen and (max-width: 900px) {
        //border: 2px solid indigo; 
        display: flex;
        flex-wrap: wrap;
        .textblock {
            padding-left: 20px;
            padding-right: 20px;
        }
        .textblock p {font-size: 1.2rem;}
        .image-col {padding-right: 0;}
        .image-col img {
            width: 300px;
            height: 300px;
            margin-top: 25px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            //width: 100%;
        } 
    }

    @media screen and (min-width: 768px) and (max-width: 899px) {
        //border: 2px solid red; 
        .textblock {
            padding-left: 60px;
            padding-right: 60px;
        }
        .image-col img {
            margin-top: 50px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 40%;
        }
    }
    
}