html, body {
    margin: 0;
    //height: 100%;
    //width: 100%;
}

footer {
    background-color: #b48e57;
    margin: 0;

    p {
        color: #3a353f;
        font-family: 'EB Garamond', serif;
        font-size: 1rem;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}