body {
    margin: 0;
    background-color: #f7f6f2;
}

.home-section {
    margin-bottom: 10%;
    //border: 3px solid chartreuse;

    .home-block {
        width: 100%;
        display: flex;
        flex-direction: row;
        //margin-bottom: 20%;
        
        .img-col {
            width: 50%;

            .top-image {
                width: 30%;
                position: absolute;
                z-index: 2;
                margin-top: 10%;
                margin-left: 10%;
            }

            .buttom-image {
                width: 35%;
                position: absolute;
                z-index: 1;
            }    
        }
    
        .menu-col {
            width: 50%;

            .overlay {
                height: 100%;
                width: 0;
                position: fixed;
                z-index: 3;
                top: 0;
                left: 0;
                background-color: #f7f6f2;
                overflow-x: hidden;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;

                .closebtn {
                    position: absolute;
                    top: 45px;
                    right: 45px;
                    font-size: 35px;
                    color: #1c325f;
                }

                .overlay-content {
                    position: relative;
                    top: 25%;
                    width: 100%;
                    margin-top: 30px;
                    flex-direction: row;
                    display: flex;
                    justify-content: center;

                    nav {
                        .menu {
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-end;
                            list-style-type: none;
                            margin: 5%;
                        
                            a {
                                color: #1c325f;
                                text-decoration: none;
                                margin: 10px;
                                font-family: 'EB Garamond', serif;
                                font-size: 2rem;
                                display: block;
        
                                &:hover, &:focus {
                                    border-bottom: 2px solid #1c325f;
                                }
                                &:active {
                                    border-bottom: 2px solid #1c325f;
                                }
                            }
                        }
                    }
                }

                @media screen and (max-height: 450px) {
                    a {font-size: 20px}
                    .closebtn {
                    font-size: 40px;
                    top: 15px;
                    right: 35px;
                    }
                }
            }

            .burger-menu {
                position: absolute;
                top: 45px;
                right: 45px;
                font-size: 35px;  
                cursor: pointer;
                color: #1c325f;
            }

            .headline-text {
                h1 {
                    color: #1c325f;
                    font-family: 'EB Garamond', serif;
                    font-size: 7rem;
                    margin-top: 200px;
                    margin-bottom: 0;
                }

                h2 {
                    color: #1c325f;  
                    font-family: 'EB Garamond', serif;
                    font-size: 3rem;
                    margin: 0;
                } 
            }
        }
    }
}


// Mobile breakpoint
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .home-section {
        border: 3px solid blue;
    }
}

// Tablet breakpoint
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .home-section {
        border: 3px solid red;
    }
}
    