body {margin: 0;}

.nav-section {

    .navbar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        .col-logo {
            width: 30%;
            //border: 3px solid red;

            .logo {
                position: absolute;
                margin-left: 3%;
                z-index: 2;

                h1 {
                    font-family: 'EB Garamond', serif;
                    font-size: 2rem;
                    line-height: 90%;
                    color: #3a353f;
                }
            } 
            
            @media screen and (max-width: 600px) {
                //border: 2px solid indigo; 
                .logo h1 {font-size: 1.3rem;}
            }
        
            @media screen and (min-width: 601px) and (max-width: 1024px) {
                //border: 2px solid green; 
                .logo h1 {font-size: 1.7rem;}
            }
        }
    

        .col-menu {
            width: 70%;
            //border: 3px solid yellow;

            nav {
                .menu {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    list-style-type: none;
                    margin: 5%;
                
                    a {
                        color: #1c325f;
                        text-decoration: none;
                        margin: 10px;
                        font-family: 'EB Garamond', serif;
                        font-size: 1.2rem;

                        &:hover {
                            border-bottom: 2px solid #1c325f;
                        }
                        &:active {
                            border-bottom: 2px solid #1c325f;
                        }

                        /*.icon {
                            display: none;
                        }*/
                    }
                }
            }


            @media screen and (max-width: 600px) {
                //border: 2px solid green; 
                display: none;
                .logo h1 {font-size: 1.7rem;}
            }
        }
    }
}