body {margin: 0;}

.nav-section {
    .navbar {
        display: flex;
        flex-direction: row;
        
        .col-logo {
            width: 30%;
            border: 3px solid red;

            .logo {
                font-family: 'EB Garamond', serif;
                font-size: 1.5rem;
                line-height: 136%;
                position: absolute;
                margin-left: 3%;
                color: #3a353f;
                z-index: 2;

                @media screen and (max-width: 320px) {
                    font-size: 1rem;
                }

                @media screen and (max-width: 768px) {
                    font-size: 1.5rem;
                }
            }   
        }
    
        .col-menu {
            width: 70%;
            border: 3px solid yellow;

            nav {
                .menu {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    list-style-type: none;
                    margin: 5%;
                
                    a {
                        color: #1c325f;
                        text-decoration: none;
                        margin: 10px;
                        font-family: 'EB Garamond', serif;
                        font-size: 1.2rem;

                        &:hover {
                            border-bottom: 2px solid #1c325f;
                        }
                        &:active {
                            border-bottom: 2px solid #1c325f;
                        }

                        .icon {
                            display: none;
                          }
                    }
                }
            }
        }

    }
}

// Mobile breakpoint
@media screen and (min-width: 320px) {
    .nav-section {
        border: 3px solid blue;
    }
}

// Tablet breakpoint
@media screen and (min-width: 768px) {
    .nav-section {
        border: 3px solid purple;
    }
}

// Tablet breakpoint
@media screen and (min-width: 1200px) {
    .nav-section {
        border: 3px solid green;
    }
}
